---
import Title from "../components/title.astro"
import Layout from "../layouts/Layout.astro"
import Message404 from "../components/message404.astro"

---
<Layout
    title="Pàgina no trobada | Jaume Estalella"
>
    <Message404>
            <Title>ERROR 404: PÀGINA NO TROBADA</Title>
            <p>disculpin les molèsties</p>
    </Message404>

</Layout>
