<footer>
    <p>2026 Jaume Estalella</p>
    <button>View source</button>
</footer>

<style>
    footer{
        display: flex;
        flex-direction: row;
    }
    button {
    background-color: transparent;
    border: 0;
}
</style>