        <nav>
        <a href="/">ap</a>
        <div id="right">
            <a href="/information">Information</a>
            <a href="/music">Music</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>

<style>
    #right{

        display: flex;
        gap: 10px;
    }
    nav{
        display: flex;
        width: auto;
        gap: 400px;
    }
    a {
        color: var(--color1);
        text-decoration: none;
    }

</style>